<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="Atlas - sample client"
            visible="true"
            id="com.ensoftcorp.plugin.atlas.sample_client.actionSet">
         <menu
               label="Sample &amp;Menu"
               id="sampleMenu">
            <separator
                  name="sampleGroup">
            </separator>
         </menu>
         <action
               label="Atlas - sample client"
               icon="icons/sample.gif"
               class="com.ensoftcorp.plugin.atlas.sample_client.actions.SampleAction"
               tooltip="Atlas - sample client"
               menubarPath="sampleMenu/sampleGroup"
               toolbarPath="sampleGroup"
               id="com.ensoftcorp.plugin.atlas.sample_client.actions.SampleAction">
         </action>
      </actionSet>
   </extension>

</plugin>
